root {
    --color: purple;
}


.main{
    background: #fffafa
}
body{
	background-color: #e6e6e6;
    font-family: 'Gill Sans', 'Gill Sans MT', 'Calibri', 'Trebuchet MS', sans-serif;
}

.wrapper {
    margin: 20px 150px;
}

.Button-Back{
    float: right;
    margin-right: 3%;
    width: 50px;
}
.example {
    width: 100%;
    height: 50px;
    position: relative;
    img {
        position: absolute;
        top: 0;
        right: 0;
    }
}

a {
    text-decoration: none;
    color:#351392;
    max-width: 5px;
}

.ImgCenter{
    
    height: 100%;
    width: 100%;    
    object-fit: cover;
}

p {
    text-align: center;
}

.Link {
    margin-bottom: 10px;
}

.table {
	width: 100%;
	margin-bottom: 20px;
	border: 1px solid purple;
	border-collapse: collapse; 
}
.table th {
	font-weight: bold;
	padding: 5px;
	background: #efefef;
	border: 1px solid purple;
}
.table td {
	border: 1px solid purple;
	padding: 5px;
}
.table tr:hover{
    transition: all .5s ease-in-out;
	background-color: #ADD8E6;
}

li{
    font-style: italic;
}

.header{
	background-color: #ea7575;
	text-align:center;
}
.header>h1{	
	padding-left: 10;
	display: inline;
	font-size: 55;
}

.footer{
    background-color: #ea7575;
	text-align:center; 
    vertical-align: middle;
    height: 40px;
}

.filters_img {
    display: block;
    width: 30%;
    height: 30%;
    margin-left: auto;
    margin-right: auto;
}
.left_part{
    float: left;
    width: 30%;
}

.right_part{
    margin-left: 30%;
}